body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url(Img/MicrosoftTeams-image\ \(2\).png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Formatos generales para textos y etc. */

h2, h4, h6, h1, h3, h5, a, p
{
  text-decoration: none;
  font-weight: normal;
  font-family: fuente-base;
  color: #fafafa;
  margin: 0;
}

h5
{
  font-family: fuente-portafolio;
}

h4, h6
{
  text-align: center;
  font-size: 35px;
  border-radius: 10px;
  margin-top: 10px;
  padding: 0 15px;
  font-family: fuente-titulos;
}

h4
{
  background-color: #00935b;
  display: inline-block;
}

svg
{
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

::-webkit-scrollbar 
{
    width: 12px; 
    height: 10px;
}
  
::-webkit-scrollbar-thumb 
{
    background-color: #888; 
    border-radius: 6px; 
}
  
::-webkit-scrollbar-track 
{
    background-color: #f4f4f4;
}

/* fuentes */

@font-face {
  font-family: 'fuente-base';
  src: url(./Fuentes/GlacialIndifference-Regular.otf);
}

@font-face {
  font-family: 'fuente-portafolio';
  src: url(./Fuentes/Anton-Regular.ttf);
}

@font-face {
  font-family: 'fuente-titulos';
  src: url(./Fuentes/MadimiOne-Regular.ttf);
}

/* Estilo para el encabezado */
header
{
  background-color: rgb(13, 13, 13);
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

.botones
{
  display: flex;
  margin-top: auto;
  margin-bottom: 10px;
}

.botones h2
{
  margin: 0 20px;
  font-size: 30px;
}

.botones h2:hover, #menu:hover, #botones-oculto h2:hover
{
  color: #00FF9E;
  transition: color 0.5s ease;
  cursor: pointer;
}

#menu
{
  color: #fafafa;
  width: 50px;
  display: none;
  margin: 10px;
}

#botones-oculto
{
  display: none;
  flex-direction: column;
}

#botones-oculto div
{
  display: none;
}

#botones-oculto h2
{
  margin: 5px;
}

/* Estilos para el inicio */

#espacio_inicio
{
  display: flex;
  justify-content: center;
  background-color: rgba(20, 20, 20, 0.5);
}

#contendor_inicio
{
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  text-align: center;
  padding: 35px 20px 20px;
  margin: 135px 15px 9%;
}

#contendor_inicio img
{
  width: 190px;
  background-color: #fafafa;
  border: #04B16F solid 10px;
  border-radius: 100%;
  margin-bottom: 15px;
}

#contendor_inicio h2
{
  font-size: 45px;
}

#contendor_inicio h3
{
  margin-top: 5px;
  font-size: 27px;
  color: white;
}

.iconos
{
  margin: 50px 5px 0;
  fill: white;
  width: 55px;
}

.iconos:hover
{
  fill: #00CF80;
  cursor: pointer;
  transition: fill 0.5s ease;
}

/* estilo pagina sobre mi */
#espacio_sobre_mi
{
  background-color: rgba(20, 20, 20,0.975);
  padding: 15px 15px 25px;
}

.sub_titulo
{
  display: flex;
  justify-content: center;
}

#espacio_sobre_mi p
{
  font-size: 22px;
}

.contenedor_datos_hobbies
{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.contenido_datos
{
  display: grid;
  grid-template-columns: repeat(2, auto); 
  grid-column-gap: 20px; 
  width: 600px;
  margin: 0 auto;
}

.contenido_datos h3
{
  font-size: 22px;
  margin: 10px 0;
}

.elemento_datos
{
  display: contents;
}

.detalle_datos
{
  color:#25ffcc;
  margin-left: 20px;
}

.contenedor_pasatiempos
{
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  justify-content: center;
  margin: 0 auto;
}

.elemento_pasatiempos
{
  width: 65px;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(32, 32, 32, 0.7);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.elemento_pasatiempos h3
{
  font-size: 20px;
}

.pasatiempos
{
  fill: #ffffff;
}

.elemento_pasatiempos:hover
{
  background-color: #f1f1f1;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.elemento_pasatiempos:hover h3
{
  color: #141414;
  transition: color 0.5s ease;
  cursor: pointer;
}

.elemento_pasatiempos:hover svg,.elemento_pasatiempos:hover g
{
  fill: #141414;
  transition: fill 0.3s ease;
  cursor: pointer;
}

/* Estilos para las habilidades */
#espacio_habilidades
{
  background-color:rgba(13, 13, 13, 0.975);
  padding: 15px 15px 25px;
}

.elementos_habilidades
{
  padding: 5px;
  width: 350px;
  margin: 5px;
}

.img_end
{
  width: 160px;
}

.titulo_end
{
  text-align: center;
  margin: 5px 0 20px ;
  font-size: 41px;
  color: #00FF9E;
}

#contenedor_habilidades
{
  display: flex;
  justify-content: space-evenly;
}

.ordendar_img_end
{
  display: flex;
  justify-content: center;
}

.ordenar_lenguaje
{
  display: flex;
  align-items: center;
}

.ordenar_habilidad
{
  display: flex;
  justify-content: space-between;
}

.img_lenguaje
{
  width: 30px;
  margin-right: 7px;
}

.lenguaje_habilidad, .nivel_lenguaje
{
  font-size: 30px;
}

.nivel_lenguaje
{
  color: #00CF80;
}

#grafico_nivel
{
  display: flex;
  justify-content: center;
  margin: 7px 0 10px;
}

.verde, .nulo
{
  width: 30px;
  height: 12px;
  margin: 0 2px;
}

.verde
{
  background-color: #04B16F;
}

.nulo
{
  background-color: #5B5B5B;
}

/* Estilo para la pagina de Portafolio */

#espacio_portafolio
{
  background-color: rgba(0, 0, 0, 0.975);
  padding: 15px 15px 25px;
}

#contenedor_portafolio
{
  padding: 0 18%;
}

#contenedor_portafolio h5
{
  font-size: 32px;
}

#contenedor_portafolio p
{
  font-size: 22px;
}

.img_contenedor_portafolio
{
  margin: 8px 0;
  width: 100%;
  
}

.contenedor_botones
{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.contenedor_boton
{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.botones_portafolio
{
  display: flex;
  align-items: center;
  border: white solid 2px;
  font-size: 30px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #0e0e0e;
}

.botones_portafolio:hover
{
  background-color: #00CF80;
  transition: background-color 0.5s ease;
}

.botones_portafolio h3
{
  font-size: 28px;
  margin: 0 10px;
}

.elemnto_lenguaje
{
  display: inline-flex;
  align-items: center;
  padding: 2px 4px;
  margin-right: 5px;
  margin-top: 5px;
}

.elemnto_lenguaje img
{
  width: 18px;
  margin-right: 3px;
}

#estilo_JavaScript
{
  background-color: #cdcd00;
}

#estilo_CSS
{
  background-color: #003cff;
}

#estilo_HTML
{
  background-color: #D82727;
}

#estilo_Angular
{
  background-color: #00649e;
}

#estilo_React
{
  background-color: rgb(255, 0, 0);
}

#estilo_node
{
  background-color: #027247;
}

#estilo_MySQL, #estilo_HeidiSQL, #estilo_MongoDB
{
  background-color: #FF30AC;
}

#estilo_Django, #estilo_Python
{
  background-color: #ffd70c;
}

.imagen_boton_portafolio
{
  width: 30px;
}

#boton_proyecto
{
  margin-left: 10px;
}

#boton_git, #boton_codigo
{
  margin-right: 10px;
}

#titulo_tauro
{
  color: #039BE5;
}

/* Estilo para la pagina de curriculum */
#espacio_curriculum
{
  background-color: rgba(43, 43, 43, 0.975);
  padding: 15px 15px 25px;
}

#contenedor_curriculum
{
  display: flex;
  justify-content: space-evenly;
}

.elemento_educacion, .elemento_experiencia
{
  background-color: #141414;
  margin-bottom: 10px;
  padding: 10px;
}

.elemento_educacion
{
  border-left: #00FF9E solid 13px;
}

.elemento_experiencia
{
  border-right: #00FF9E solid 13px;
}

.texto1_curriculum
{
  font-size: 25px;
}

.texto2_curriculum
{
  font-size: 22px;
  margin-top: 5px;
  color: #00FF9E;
}

.texto3_curriculum
{
  font-size: 22px;
  color: #00CF80;
}

/* Estilo para la pagina de contactos */
#espacio_contactos
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 15px;
  background-color: rgba(20, 20, 20, 0.5);
}

#contenedor_contactos
{
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 20px;
  text-align: center; 
  padding: 10px 20px;
  width: 480px;
  margin: 12% 5px;
}

#contenedor_elementos_contactos
{
  margin: 30px 20px;
}

.elemento_contactos
{
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.elemento_contactos img
{
  width: 32px;
  margin-right: 10px;
}

.elemento_contactos h3
{
  font-size: 22px;
}

#correo
{
  font-size: 28px;
}

.elemento_contactos svg
{
  margin-top: 0;
}

#likedin_contactos, #git, #documento_contactos
{
  margin-top: 0;
}

#correo span
{
  display: none;
}

/* responsives */

@media (max-width: 1000px) 
{
  .botones h2
  {
    margin: 0 10px;
    font-size: 25px;
  }

  #contendor_inicio h2
  {
    font-size: 45px;
  }

  #contendor_inicio h3
  {
    font-size: 28px;
  }

  .iconos
  {
    width: 55px;
  }

  .contenedor_datos_hobbies
  {
    display: block;
  }

  .elementos_habilidades
  {
    width: 330px;
  }

  .img_end
  {
    width: 80px;
  }

  .titulo_end
  {
    font-size: 32px;
  }

  .lenguaje_habilidad, .nivel_lenguaje
  {
    font-size: 27.5px;
  }

  .img_lenguaje
  {
    width: 25px;
  }

  h4
  {
    font-size: 32px;
  }

  h6
  {
    font-size: 30px;
  }

  .texto1_curriculum
  {
    font-size: 22px;
  }

  .texto2_curriculum, .texto3_curriculum
  {
    font-size: 20px;
  }

  #contenedor_portafolio
  {
    padding: 0 10%;
  }

  #contenedor_portafolio h5 
  {
    font-size: 28px;
  }

  .botones_portafolio h3
  {
    font-size: 25px;
  }
} 

@media (max-width: 800px) 
{
  #contenedor_curriculum
  {
    display: block;
  }
}

@media (max-width: 760px) 
{
  header
  {
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  .botones 
  {
    display: none;
  }

  #botones-oculto div
  {
    display: block;
  }

  #menu
  {
    display: block;
  }

  .contenido_datos
  {
    width: 400px;
  }

  #contenedor_habilidades
  {
    flex-wrap: wrap;
    justify-content: center;
  }

  .elementos_habilidades
  {
    margin: 10px 20px;

  }

  #contenedor_portafolio
  {
    padding: 0 5%;
  }

  .elemnto_lenguaje img 
  {
    width: 16px;
  }

  .elemnto_lenguaje h3
  {
    font-size: 16px;
  }
}

@media (max-width: 500px) 
{
  #contendor_inicio
  {
    margin: 140PX 5px 95px 5px;
  }

  #contendor_inicio img
  {
    width: 150px;
  }

  #contendor_inicio h2
  {
    font-size: 40px;
  }

  #contendor_inicio h3
  {
    font-size: 25px;
  }

  .iconos
  {
    width: 55px;
  }

  #contenedor_contactos
  {
    padding: 10px 10px;
  }

  #contenedor_elementos_contactos
  {
    margin: 30px 5px;
  }

  .botones_portafolio
  {
    justify-content: center;
    margin-bottom: 10px;
  }

  .contenedor_botones
  {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 450px)
{
  .contenido_datos
  {
    display: block;
    width: 100%;
  }

  #correo span
  {
    display: block;
  }
}

@media (max-width: 400px)
{
  .contenedor_pasatiempos, .elementos_habilidades
  {
    width: 100%;
  }

  .elementos_habilidades
  {
    margin: 10px;
  }

  .ordenar_habilidad
  {
    display: block;
  }

  #grafico_nivel
  {
    justify-content: start;
  }

  #contenedor_portafolio
  {
    padding: 0;
  }
} 